.header {
  background: purple;
  margin-bottom: 5rem;
  padding: 2rem 0;
  color: white;
}

.header__title {
  font-size: 3.2rem;
  margin: 0;
}

.header__subtitle {
  color: papayawhip;
  font-size: 1.6rem;
  margin: 0
}